APScheduler==3.6.3
attrs==22.2.0
backports.zoneinfo==0.2.1
cachetools==4.2.2
certifi==2022.12.7
distlib==0.3.6
env==0.1.0
exceptiongroup==1.0.4
filelock==3.9.0
iniconfig==1.1.1
packaging==22.0
platformdirs==2.6.2
pluggy==1.0.0
pygame==2.1.2
pytest==7.2.0
python-telegram-bot==13.15
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
six @ file:///AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-103/six-1.15.0-py2.py3-none-any.whl
tomli==2.0.1
tornado==6.1
tzdata==2022.7
tzlocal==4.2
virtualenv==20.17.1
